body{
    max-width: 1170px;
    background-color: rgb(110, 108, 106);
    margin: 0 auto;
}

.form-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-container button{
    background-color: rgb(111, 111, 215);
    padding: 10px 20px;
    font-size: 1.25em;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background-color: antiquewhite;
 }

.form-main-container{
 background-color: antiquewhite;
 text-align: left;
 font-family: 'Times New Roman', Times, serif;
 font-size: 1.25em;
 
 
}

.form-main-container img{
    width: 100%;
    height: auto;
    border: 2px;
    padding: 2px;
}
.box-container{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 5px;
    font-size: 1em;
    
}
.form-header{
    background-color: rgb(114, 210, 210);


}
.form-content{
    background-color: rgb(130, 114, 144);
    font-size: 1.5em;
    max-width: 1140px;
    margin: 0 auto;
    padding: 50px;
}
.form-content textarea{
text-align: left;
font-size: 1em;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(150, 150, 110);
}

.form-content section{
font-size: 1em;
font-family: 'Times New Roman', Times, serif;

}

.input-button{
    background-color: rgb(111, 111, 215);
    padding: 5px 5px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.container-table h2{
    text-align: center;
}
table {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px 20px;
    width: 50%;
    height: auto;
    margin-left:auto;
    margin-right:auto;
}

td {
    border: 4px solid rgb(253, 251, 251);
    padding: 10px 20px;
    
}

.card-section{
    text-align: center;
}
.card-container{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    border: 2px solid coral;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgb(190, 179, 179);
    text-align: left;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;   /* when you want circle shape of images */
    border-radius: 50%;
}